h1 {
     font-family:Georgia,serif;
     color:#333333;
     font-size:18px;
     line-height:1em; 
     margin:10 10 10 10px;
}

h2 {
     font-family:Georgia,serif;
     color:#333333;
     font-size:14px;
     line-height:1em; 
     margin:10 10 10 10px;
}

